---
title: Introduction
---

<p>
  I wasn't really sure why I wanted to start a blog, but here we are. I'll write about whatever I feel like. This is a
  space for me to post my art journey, write about issues I've come across im programming, and reflect on whatever's
  going on with my dad life. Enjoy the ride! Or don't! Doesn't matter!
</p>